<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>{{.Title}}</title> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> 
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> 
</head> 
<body> 
    
    <nav class="navbar container has-shadow is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/index">
                <span>Talisman</span>
            </a>
            
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/index">
                    Home
                </a>
                
                <a class="navbar-item">
                    Documentation
                </a>
            </div>
        </div>
    </nav>
    <section class="section"> 
        <a class="button is-pulled-right" href="/edit/{{.Slug}}">
            <span class="icon is-small">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        
        <div class="container"> 
            <span style="color:#3273dc">{{.Date}}</span>
            <h1 class="title"> {{.Title}} </h1> 
            <div class="tags">{{range .Tags}}<a class="tag" href="/{{.}}">{{.}}</a>{{end}}</div>
        </div> 
        <hr/>
        <div class="container">
            <div class="content"> {{.Body}} </div> 
        </div>
       
    </section> 
    
</body> 
</html>
